*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	
}

ul,ol{
	list-style: none;
}

a{
	color:#000000;
	text-decoration: none;
}


#project_center{
	width: 18rem;
	margin: 0px auto;
	padding-bottom: 50px;
	

}

body{
	background: whitesmoke;
}


.top_head{
	position: relative;
}


.top_head .top_left{
	position: absolute;
	top: 50%;
	left: 0.4rem;
	width: 1rem;
	height: 1rem;
	margin-top: -0.5rem;
	
	
}



/*底部-s*/


.floor{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	font-size: 0px;
	z-index: 99;
}

.floor ul{
	display: inline-block;
	width: 100%;
	background: white;
	height: 50px;
	
}


.floor ul li{
	width: 20%;
	float: left;
	padding:5px 0px;
	font-size: 12px;
	text-align: center;

}


.floor ul li a i{
	font-size: 26px;
	color: #666666;
	
}




.floor ul li.active{
	color: orangered;
}


.floor ul li.active p{
	color: orangered;
}

.floor ul li.active a i{
	
	color: orangered;
}


.floor ul li a i img{
 display: block;
 width: 30px;
 margin: 0px auto;	
}

.floor ul li a i.not_click{
	display: block;
}


.floor ul li a  i.on_click{
	display: none;
}

.floor ul li.ac a i.not_click{
	display: none;
}

.floor ul li.ac a i.on_click{
	display: block;
}


.top_template{
	position: relative;
	width: 100%;
	height: 1rem;
	background: #333333;
	line-height: 1rem;
	padding: 0.5rem 0rem;
	font-size: 0.6rem;
	color: white;
	text-align: center;
}


.top_template .top_Tleft{
	position: absolute;
	top: 0px;
	left: 0.5rem;
	display: block;
	height: 2rem;
	line-height: 2rem;
}


.top_template .top_Tleft a{
	color: white;
}

.top_template a{
	color: white;
}


.top_template.auto{
	background: white;
	color: #000000;
}

.top_template.auto .top_Tleft a{
	color: #000000;
}


.top_template.fixed{
	position: fixed;
	top: 0px;
	left: 0px;
}


#tip{
	position: fixed;
	z-index: 99;
   width: 100%;
   top: 50%;
   left: 0px;
   margin-top: -2rem;
   display: none;
}


#tip .tip{

	width: 4rem;
	padding: 0.3rem;
	border-radius: 0.5rem;
	margin: 0px auto;
	
}

#tip .tip .icon{
	width: 3rem;
	height: 3rem;
	margin: 0px auto;

}

#tip .tip .icon img{
	display: block;
	width: 3rem;
	height: 3rem;
}


#tip .tip p{
	text-align: center;

	font-size: 0.6rem;
	color: white;
}

#tip .tip.succeed{
	background: #10CBB8;
	color: white;
}


#tip .tip.warning{
	background: #f76a38;
	color: white;
}

#tip .tip.mistake{
	background: red;
	color: white;
}

#tip .tip.tips{
	background: #333333;
	color: white;
}

#tip .tip.loading{
	background: white;
	
}



#tip .tip.loading p{
	
	color: #000000;
}


.model{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(55,55,55,.6);
	width: 100%;
	height: 100%;
	z-index: 99;

	
	text-align: center;
	
}


.model .model_nav{
	position: relative;
	top: 5rem;
	display: inline-block;
	padding: 0.5rem;
	background: white;
	border-radius: 0.5rem;
	text-align: left;
	
}

.model .model_nav .model_header{
	position: relative;
	padding-bottom: 0.5rem;
	font-size: 0.7rem;
	
}


.model .model_nav .model_header span.clear{
	position: absolute;
	top: 0rem;
	right: 0.5rem;
}



.drawer{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(55,55,55,.6);
	width: 100%;
	height: 100%;
	z-index: 99;
	

}

.drawer .drawer_center{
	padding: 0.5rem 0rem;
}


.drawer .top_template{
	border-bottom: solid 1px #EEEEEE;
	width: 100%;
	background: white;
	
}

.drawer.auto .top_template{
	border-bottom: solid 1px #EEEEEE;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: white;
	z-index: 1;
}

.drawer_nav{
	position: relative;
	float: right;
	padding:0rem 0.5rem;
	height: 100%;
	right: -100%;
	background: white;
	
	
}

.drawer.auto .drawer_center{
	
	position:absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	overflow: auto;
	padding: 0rem;
}


.drawer_warp{
	padding: 0.5rem;
	padding-top: 2.5rem;
	display: block;
}

.drawer.ac {
	display: block;
}

.drawer.ac .drawer_nav{
	right: 0%;
}
